<%- include ("./partials/header") %>

<div class="container-fluid">
    <div class="row navbar-expand-md">
        <nav class="col-md-3 col-lg-2 bg-light navbar-collapse collapse sidebar" id="sidenav">
            <div class="sidebar-sticky flex-column w-100 mt-1">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dashboard">
                            <span data-feather="home"></span><i class="fas fa-tachometer-alt"></i> Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../calendar">
                            <span data-feather="file"></span><i class="fa fa-calendar-alt" aria-hidden="true"></i> Calendar
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../todo">
                            <span data-feather="shopping-cart"></span><i class="fas fa-tasks"></i> To-do List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../communitymap">
                            <span data-feather="users"></span><i class="fas fa-globe-americas"></i> Community Map
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="upload_files">
                            <span data-feather="bar-chart-2"></span><i class="fas fa-file-alt"></i> Files
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
  </div>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 navbar-expand-md">
    <div class="navbar-brand d-flex align-items-center justify-content-between col-sm-12 col-md-2 mr-0">
        <a class="mr-1 d-md-none text-light" href="#sidenav" data-toggle="collapse" data-target="#sidenav">
            <span data-feather="menu" class="my-1"></span>
        </a>
        <a class="text-light" href="/dashboard"> <i class="fas fa-home"></i> MavRA</a>
        <a class="navbar-toggler border-0 p-0" href="#topnav" data-toggle="collapse" data-target="#topnav">
            <span data-feather="menu" class="my-1"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse justify-content-end" id="topnav">
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav px-3 py-2 ">
            <li class="nav-item">
                <a class="nav-link float-right" href="#">Signed in as <span id="username"></span><i class="fas fa-user-plus"></i></a>
            </li>
           
            <li class="nav-item" id="logout">
                <a class="nav-link float-right" id="logmeout" href="http://localhost:3000">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
<div class="card-deck">
    <div class="card bg-primary column col-lg-4 col-centered">
      <img class="card-img-top" src="./calendar.jpg" alt="Card image cap">  
      <div class="card-body text-center">
        <a href="./calendar" class="btn change">Visit Calendar</a>
      </div>
    </div>

    <div class="card changecolor column col-lg-4 col-rightcentered">
        <img class="card-img-top" src="./todo.png">
        <div class="card-body text-center">
            <a href="./todo" class="btn change">Visit Todo list</a>
        </div>
    </div>
<!-- https://cdn.pixabay.com/photo/2017/03/31/17/44/avatar-2191932__340.png -->
    <div class="card bg-success column col-lg-4 col-centered">
        <img class="card-img-top changeheight" src="./communitymap.jpg">
        <div class="card-body text-center">
            <a href="./communitymap" class="btn change">Visit Community Map</a>
        </div>
    </div>
    <div class="card bg-danger column col-lg-4 col-rightcentered">
        <img class="card-img-top" src="./files.png">
        <div class="card-body text-center">
            <a href="./upload_files" class="btn change">Visit Files</a>
        </div>
    </div>
  </div>
</div>

<!-- <div class="grid">
    <div class="card">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/UrR6QiAYKss0H6VtxtFDzPWWcYn3adgUp9oQIzuVvGQp1kpFg5FcDLSVZ77LR_VEmM-CBWcU45adVHbs1Itsdky7YpGQVKq_zFnsfny_4saIkSlMR-pchVT-NxDbXxtajy6xQLV7Ks6vxNCXo8WGL8BhtAPig-0SVo7j-Ly0a-6DxfI" alt="Card image cap">
        <div class="card-body">
            <a href="./calendar" class="btn btn-primary">Visit Calendar</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://www.workflowmax.com/hubfs/6-things-to-do-list-listing.png">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Visit Community Map</a>
        </div>
    </div>
</div> -->
<!-- <div class="row"> -->
    <!-- <div class="column col-lg-4 col-centered" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>Some text..</p>
    </div>
    <div class="column col-lg-4 col-rightcentered" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>Some text..</p>
    </div> -->
    <!-- <div class="column col-lg-4 col-centered" style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
    </div>
    <div class="column col-lg-4 col-rightcentered" style="background-color:#ddd;">
    <h2>Column 4</h2>
    <p>Some text..</p>
    </div> -->
  <!-- </div> -->





<script>
    let user = JSON.parse(sessionStorage.getItem('user'));
    if(!user){
        window.location = "http://localhost:3000";
        document.getElementById("logout").style.display = "none";
    }
    document.getElementById("username").innerHTML = user.email;
    const logout = document.querySelector("#logmeout");
    logout.addEventListener('click', e => {
        e.preventDefault();
        firebase.auth().signOut()
            .then(function () {
                sessionStorage.removeItem('user');
                sessionStorage.clear();
                console.log(user.displayName + " has signed out.");
                window.location = "http://localhost:3000";
            }).catch(function (error) {
                // An error happened.
            });
    })
</script>


<%- include ("./partials/footer") %>