<%- include ("./partials/header") %>

<head>
    <link rel="stylesheet" href="/stylesheets/todos.css">
</head>
        <nav class="navbar ">
            <form class="form-inline">
            <a class="btn btn-primary" href="./dashboard" type="button">Back to Dashboard</a>
            
            </form>
        </nav>

        <div id="container">
        <h1>To-Do List<i class="fas fa-angle-down"></i></h1>
        <input type="text" placeholder="Add New Todo">
        <ul>
            <li><span> <i class="fa fa-trash"></i> </span> Play Football</li>
            <li><span> <i class="fa fa-trash"></i> </span> Study JS</li>
            <li><span> <i class="fa fa-trash"></i> </span> Trip to Austin</li>
        </ul>
    </div>


    <script src="./todos.js"></script>

</body>

</html>